name: Ninth Workflow
on:
  repository_dispatch:
    types: [test]


jobs:
  run-first-command:
    runs-on: ubuntu-latest
    steps:
      - name: Event variables
        run: echo "{{ github.event.client_payload.titleTest }}" 
